In [65]:
def state_tax(state):
    if state == 'newyork':
        return 1.1228
    elif state == 'hawaii':
        return 1.1148
    elif state == 'vermont':
        return 1.1073
    else:
        return 1.15

In [66]:
tax = state_tax('newyork')

In [67]:
tax

1.1228

In [68]:
class Cost():
    
    def __init__(self,value,tax):
        
        self.value = value
        self.tax = tax 
    def total(self):
        return self.value*self.tax

In [69]:
total = Cost(100,1.15)

In [70]:
total.total()

114.99999999999999

In [71]:
total.value*total.tax

114.99999999999999

In [91]:
def main():
    print('Select a state newyork,vermont,hawaii or other: ')
    state = input('Enter your state: ').lower
    tax = state_tax(state())
    value = int(input('Enter the cost of your goods: '))
    total= Cost(value,tax)
    total_value = total.total()
    print(f'Your tax rate is {total.tax-1}% \nThe total value of your goods is {total_value} dollars tax inclusive.')

In [92]:
main()

Select a state newyork,vermont,hawaii or other:
Enter your state: other
Enter the cost of your goods: 289
Your tax rate is 0.1499999999999999%
The total value of your goods is 332.34999999999997 dollars tax inclusive